<header></header>

<div fxLayoutAlign="center center">
  <p>Kokemus: Mikä teki matkasta onnistuneen?</p>
</div>

<table fxLayoutAlign="center center">
  <tr>
    <td class="align">Järjestetty ohjelma</td>
    <td><mat-slider invert thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td> <mat-slider thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td>Vapaus</td>
  </tr>
  <tr>
    <td class="align"> Tuttuus</td>
    <td><mat-slider invert thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td> <mat-slider thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td>Uudet asiat</td>
  </tr>
  <tr>
    <td class="align">Arki</td>
    <td><mat-slider invert thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td> <mat-slider thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td>Juhla</td>
  </tr>
  <tr>
    <td class="align">Turvallisuuden tunne</td>
    <td><mat-slider invert thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td> <mat-slider thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td>Vaaran tunne</td>
  </tr>
  <nav align="center">
    <button mat-raised-button routerLink="/page6">Edellinen</button>
    <button mat-raised-button routerLink="/final">Tallenna vastaukset</button>
  </nav>
</table>

<div>
  <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
</div>
