<header></header>

<div fxLayoutAlign="center center">
  <p>Kokemus: Mikä teki matkasta onnistuneen?</p>
</div>

<table fxLayoutAlign="center center">
  <tr>
    <td>Järjestetty ohjelma</td>
    <td><mat-slider invert thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td> <mat-slider thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td>Vapaus</td>
  </tr>
  <tr>
    <td>Tuttuus</td>
    <td><mat-slider invert thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td> <mat-slider thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td>uudet asiat</td>
  </tr>
  <tr>
    <td>Arki</td>
    <td><mat-slider invert thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td> <mat-slider thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td>Juhla</td>
  </tr>
  <tr>
    <td>Turvallisuuden tunne</td>
    <td><mat-slider invert thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td> <mat-slider thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td>Vaaran tunne</td>
  </tr>
</table>

<div>
  <nav align="center">
    <button mat-raised-button routerLink="/page6">Edellinen</button>
    <button mat-raised-button routerLink="/home">Seuraava</button>
  </nav>
</div>

<div>
  <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
</div>

<footer fxLayoutAlign="center center">
</footer>
