<header></header>

<div fxLayoutAlign="center center">
  <p>Liikkumisen tavat</p>
</div>

<table fxLayoutAlign="center center">
  <tr>
    <td>Nopeasti perille</td>
    <td><mat-slider invert thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td> <mat-slider thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td>Matkasta nauttien</td>
  </tr>
  <tr>
    <td>Polttoaineella</td>
    <td><mat-slider invert thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td> <mat-slider thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td>Lihasvoimalla</td>
  </tr>
  <tr>
    <td>Yksityisesti</td>
    <td><mat-slider invert thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td> <mat-slider thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td>Julkisilla</td>
  </tr>
  <tr>
    <td>Reaalisesti</td>
    <td><mat-slider invert thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td> <mat-slider thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td>Virtuaalisesti</td>
  </tr>
</table>

<div>
  <nav align="center">
    <button mat-raised-button routerLink="/page5">Edellinen</button>
    <button mat-raised-button routerLink="/page7">Seuraava</button>
  </nav>
</div>

<div>
  <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
</div>

<footer fxLayoutAlign="center center">
</footer>
