
<div fxLayoutAlign="top center" fxLayout="column">
  <h4>Sinua ei voida tunnistaa antamiesi tietojen perusteella.</h4>

  <tr>
    <mat-form-field>
      <mat-select placeholder="Sukupuoli" required>
        <mat-option value="woman">Nainen</mat-option>
        <mat-option value="man">Mies</mat-option>
        <mat-option value="other">Muu</mat-option>
      </mat-select>
    </mat-form-field>
  </tr>
  <tr>
    <mat-form-field>
      <input matInput type="number" max="99" placeholder="Ikä" min="0" required>
    </mat-form-field>
  </tr>
  <tr>
    <mat-form-field class="bottom">
      <mat-select placeholder="Kansallisuus" required>
        <mat-option value="finland">Suomi</mat-option>
        <mat-option value="russia">Venäjä</mat-option>
        <mat-option value="germany">Saksa</mat-option>
        <mat-option value="sweden">Ruotsi</mat-option>
        <mat-option value="other">Muu</mat-option>
      </mat-select>
    </mat-form-field></tr>

  <nav align="center" fxLayout="row">
    <button mat-raised-button routerLink="/page">Edellinen</button>
    <button mat-raised-button routerLink="/page1">Kysymyksiin!</button>
  </nav>
</div>
