
<div fxLayoutAlign="top center" fxLayout="column">
  <h4>Sinua ei voida tunnistaa antamiesi tietojen perusteella</h4>
  
  <tr>
    <mat-form-field class="top">
      <mat-select placeholder="Sukupuoli" (selectionChange)="changeSex($event.value)"  required>
        <mat-option value="Female" >Nainen</mat-option>
        <mat-option value="Male">Mies</mat-option>
        <mat-option value="Other">Muu</mat-option>
      </mat-select>
    </mat-form-field>
  </tr>
  <tr>
    <mat-form-field>
      <input matInput [(ngModel)]="this.person.Age" type="number" max="99" placeholder="Ikä" min="0" required>
    </mat-form-field>
  </tr>
  <tr>
    <mat-form-field class="bottom">
      <mat-select placeholder="Kansallisuus" (selectionChange)="changeNat($event.value)" required>
        <mat-option value="FIN">Suomi</mat-option>
        <mat-option value="RUS">Venäjä</mat-option>
        <mat-option value="GER">Saksa</mat-option>
        <mat-option value="SWE">Ruotsi</mat-option>
        <mat-option value="Other">Muu</mat-option>
      </mat-select>
    </mat-form-field>
  </tr>
</div>

<div>
  <nav align="center">
    <button mat-raised-button routerLink="/page1">Edellinen</button>
    <button mat-raised-button (click)="finalData()" routerLink="/alert">Valmis!</button>
  </nav>
</div>
