header {
  height: 5%;
}

div{
  background-color: rgba(255, 255, 255, 0.9);
  color: darkblue;
  text-align: center;
  font-family: "Calibri Light";
  font-weight: 100;
  font-size: 120%;
}

button {
  margin: 1%;
  background-color: #ffd740;
  color: black;
}

button:hover {
  background-color: orange;
}

mat-form-field {
  font-size: 90%;
}


.top {
  margin-top: 25%;
}

.bottom {
  margin-bottom: 10%;
}
