header {
  height: 20%;
}

div {
  background-color: rgba(255, 255, 255, 0.9);
  font-family: "Calibri Light";
  font-size: 200%;
  font-weight: 100;
  color: darkblue;
}

button {
  margin-bottom: 20%;
  background-color: #ffd740;
  color: black;
}

button:hover {
  background-color: orange;
}
