<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162432480-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-162432480-1');
  </script>
</head>
<div *ngIf="selectedLang == 0" fxLayoutAlign="top center" fxLayout="column">
<p>Kiitos vastauksistasi!</p>

<nav align="center">
  <button mat-raised-button routerLink="/home">Etusivulle</button>
</nav>
</div>

<div *ngIf="selectedLang == 1" fxLayoutAlign="top center" fxLayout="column">
  <p>Thank you for your answers!</p>

  <nav align="center">
    <button mat-raised-button *ngIf="selectedLang == 1" routerLink="/home">Front Page</button>
  </nav>
</div>
