<header></header>

<div fxLayoutAlign="center center">
  <p>Matkakohde: Minne mennään?</p>
</div>

<table fxLayoutAlign="center center">
  <tr>
    <td>Maaseutu</td>
    <td><mat-slider invert thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td> <mat-slider thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td>Kaupunki</td>
  </tr>
  <tr>
    <td>Tuttu</td>
    <td><mat-slider invert thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td> <mat-slider thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td>Tuntematon</td>
  </tr>
  <tr>
    <td>Lämpimään</td>
    <td><mat-slider invert thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td> <mat-slider thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td>Viileään</td>
  </tr>
  <tr>
    <td>Lähelle</td>
    <td><mat-slider invert thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td> <mat-slider thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td>Kauas</td>
  </tr>
</table>

<div>
  <nav align="center">
    <button mat-raised-button routerLink="/page4">Edellinen</button>
    <button mat-raised-button routerLink="/page6">Seuraava</button>
  </nav>
</div>

<div>
  <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
</div>

<footer fxLayoutAlign="center center">
</footer>
