<header></header>

<div fxLayoutAlign="center center">
  <p>Arvot: Mikä ohjaa valintoja?</p>
</div>

<table fxLayoutAlign="center center">
  <tr>
    <td class="align">Ympäristöarvot</td>
    <td><mat-slider invert thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td> <mat-slider thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td>Kulutus</td>
  </tr>
  <tr>
    <td class="align">Auttaminen</td>
    <td><mat-slider invert thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td> <mat-slider thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td>Nauttiminen</td>
  </tr>
  <tr>
    <td class="align">Kuluttajansuoja</td>
    <td><mat-slider invert thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td> <mat-slider thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td>Kansalaisoikeudet</td>
  </tr>
  <tr>
    <td class="align">Yhteisöllisyys</td>
    <td><mat-slider invert thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td> <mat-slider thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td>Individualismi</td>
  </tr>
  <nav align="center">
    <button mat-raised-button routerLink="/page1">Edellinen</button>
    <button mat-raised-button routerLink="/page3">Seuraava</button>
  </nav>
</table>

<div>
  <mat-progress-bar mode="determinate" value="28"></mat-progress-bar>
</div>

