
<div fxLayoutAlign="top center" fxLayout="column" id="full">

  <div *ngIf="selectedLang == 0">
  <h2>Miten matkailija valitsee matkakohteensa? Minkälainen matkailija sinä olet?</h2>
    <h4>Tämä lyhyt kysely kartoittaa matkallelähdön motiiveja
    muutamalla kysymyssarjalla, joissa ei haeta joko/tai vastauksia.<br>
    Voit siis kaivata matkaltasi esimerkiksi paljon lepoa, mutta myös jonkin
    verran toimintaa.<br>
    Tai haet matkoiltasi yleensä uusia kohteita, mutta silloin tällöin ennestään tuttu paikka houkuttelee.<br>
    Tietoja käytetään matkailutuotteiden ja –kohteiden kehittämisessä.<br>
    Tavoitteena on ymmärtää syvällisemmin matkailijaa ja vastata paremmin
    erityyppisten matkailijoiden odotuksiin.<br><br>
      Kysely on kehitetty osana Rural Explorer –maaseudun kulttuurimatkailun kehittämishanketta.<br></h4>

  <h4>Näin vastaat kysymyksiin:<br>
  valitse arvo jokaiselle väittämälle asteikolta 0-10<br>
  0 = Ei lainkaan tärkeä<br>
  10 = Erittäin tärkeä</h4>
  </div>

  <div *ngIf="selectedLang == 1">
    <h2>How does a traveler choose their destination? What kind of a traveler are you?</h2>
    <h4>This short query is mapping the motives for taking a trip with a few series of questions which are not this or that questions.<br>
      So you can want from your travels alot of rest, but also some amount of action.<br>
      Or you can look for for new destinations each time, but every now and then a familiar place is calling to you.<br>
      This information is used to improve and develop travel products and destinations.<br>
      Our objective is to understand a traveler more deeply and to better adapt for the needs of different travelers expectations.<br><br>
      The query has been developed as a part of the Rural Explorer - countryside culture traveling development program.<br></h4>

    <h4>This is how to answer to th questions:<br>
      Choose a value for each side of the answers from 0-10<br>
      0 = Not important at all<br>
      10 = Very important</h4>
  </div>

  <nav align="center" fxLayout="row">
  <button mat-raised-button routerLink="/home">Edellinen/Previous</button>
  <button mat-raised-button routerLink="/page1">Kysymyksiin/Questions</button>
  </nav>
</div>
