
<header></header>

<div fxLayoutAlign="center center">
  <tr>
<mat-form-field class="top">
  <mat-select placeholder="Sukupuoli" required>
    <mat-option value="option">Nainen</mat-option>
    <mat-option value="option">Mies</mat-option>
    <mat-option value="option">Muu</mat-option>
  </mat-select>
  </mat-form-field>
  </tr>
  <tr>
  <mat-form-field>
    <input matInput placeholder="Ikä" value="" required>
  </mat-form-field>
  </tr>
  <tr>
  <mat-form-field class="bottom">
    <input matInput placeholder="Kansallisuus" value="" required>
  </mat-form-field></tr>
</div>

<div fxLayoutAlign="center center">
  <tr>Näin vastaat kysymyksiin:</tr>
  <tr>valitse arvo jokaiselle väittämälle asteikolta 0-10</tr>
  <tr>
    0 = täysin eri mieltä</tr>
  <tr>
    5= en osaa sanoa</tr>
  <tr>10 = täysin samaa mieltä</tr>
</div>

<div>
<nav align="center">
  <button mat-raised-button routerLink="/home">Edellinen</button>
  <button mat-raised-button routerLink="/page1">Kysymyksiin !</button>
</nav>
</div>
