<div fxLayoutAlign="top center" fxLayout="column">
  <h2>Miten matkailija valitsee matkakohteensa? Minkälainen matkailija sinä olet?</h2>
    <h4>Tämä lyhyt kysely kartoittaa matkallelähdön motiiveja
    muutamalla kysymyssarjalla, joissa ei haeta joko/tai vastauksia.<br>
    Voit siis kaivata matkaltasi esimerkiksi paljon lepoa, mutta myös jonkin
    verran toimintaa.<br>
    Tai haet matkoiltasi yleensä uusia kohteita, mutta silloin tällöin ennestään tuttu paikka houkuttelee.<br>
    Tietoja käytetään matkailutuotteiden ja –kohteiden kehittämisessä.<br>
    Tavoitteena on ymmärtää syvällisemmin matkailijaa ja vastata paremmin
    erityyppisten matkailijoiden odotuksiin.<br><br>
      Kysely on kehitetty osana Rural Explorer –maaseudun kulttuurimatkailun kehittämishanketta.<br></h4>

  <h4>Näin vastaat kysymyksiin:<br>
  valitse arvo jokaiselle väittämälle asteikolta 0-10<br>
  0 = Ei lainkaan tärkeä<br>
  10 = Erittäin tärkeä</h4>

  <button mat-raised-button routerLink="/home">Edellinen</button>
  <button mat-raised-button routerLink="/page1">Kysymyksiin</button>

</div>
