<header></header>
<div fxLayoutAlign="center center">
  <p>Kiinnostuksen kohteet: Miksi matkalle?</p>
</div>

<div fxLayoutAlign="center center" class="guide">
  <p>Muista valita arvo kunkin sanaparin molemmille puolille!</p>
</div>


<table fxLayoutAlign="center center">
  <tr>
    <td class="align">Historia</td>
    <td><mat-slider invert thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td> <mat-slider thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td>Nykypäivä</td>
  </tr>
  <tr>
    <td class="align">Katselu</td>
    <td><mat-slider [(ngModel)]="this.newSummary.LeftValue" invert thumbLabel min="0" max="10" step="1" value="1" (valueChange)="sendAnswer()"></mat-slider></td>
    <td> <mat-slider [(ngModel)]="this.newSummary.RightValue" thumbLabel min="0" max="10" step="1" value="1" (valueChange)="sendAnswer()"></mat-slider></td>
    <td>Osallistuminen</td>
  </tr>
  <tr>
    <td class="align">Lepo</td>
    <td><mat-slider invert thumbLabel min="0" max="10" step="1" value="1" ></mat-slider></td>
    <td> <mat-slider thumbLabel min="0" max="10" step="1" value="1" (valueChange)="sendAnswer()"></mat-slider></td>
    <td>Toiminta</td>
  </tr>
  <tr>
    <td class="align">Taide</td>
    <td><mat-slider invert thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td> <mat-slider thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td>Viihde</td>
  </tr>
  <nav align="center">
    <button mat-raised-button routerLink="/page">Edellinen</button>
    <button mat-raised-button routerLink="/page2" (input)="sendAnswer()">Seuraava</button>
  </nav>
</table>

<div class="progress-bar">
  <mat-progress-bar mode="determinate" value="14"></mat-progress-bar>
</div>


