
<div fxLayoutAlign="top center" fxLayout="column">
  <p *ngIf="currQuestion != undefined">{{currQuestion.title_FI}}</p>
  <p>Muista valita arvo kunkin sanaparin molemmille puolille!</p>

<table fxLayoutAlign="center center">
  <tr>
    <td class="align" *ngIf="currQChoices != undefined">{{currQChoices[0].leftTitle}}</td>
    <td><mat-slider [(ngModel)]="this.newSummary[0].LeftValue" invert thumbLabel min="0" max="10" step="1" value="0" (valueChange)="saveAnswer()"></mat-slider></td>
    <td><mat-slider [(ngModel)]="this.newSummary[0].RightValue" thumbLabel min="0" max="10" step="1" value="0" (valueChange)="saveAnswer()"></mat-slider></td>
    <td *ngIf="currQChoices != undefined">{{currQChoices[0].rightTitle}}</td>
  </tr>
  <tr>
    <td class="align" *ngIf="currQChoices != undefined">{{currQChoices[1].leftTitle}}</td>
    <td><mat-slider [(ngModel)]="this.newSummary[1].LeftValue" invert thumbLabel min="0" max="10" step="1" value="0" (valueChange)="saveAnswer()"></mat-slider></td>
    <td><mat-slider [(ngModel)]="this.newSummary[1].RightValue" thumbLabel min="0" max="10" step="1" value="0" (valueChange)="saveAnswer()"></mat-slider></td>
    <td *ngIf="currQChoices != undefined">{{currQChoices[1].rightTitle}}</td>
  </tr>
  <tr>
    <td class="align" *ngIf="currQChoices != undefined">{{currQChoices[2].leftTitle}}</td>
    <td><mat-slider [(ngModel)]="this.newSummary[2].LeftValue" invert thumbLabel min="0" max="10" step="1" value="0" (valueChange)="saveAnswer()"></mat-slider></td>
    <td><mat-slider [(ngModel)]="this.newSummary[2].RightValue" thumbLabel min="0" max="10" step="1" value="0" (valueChange)="saveAnswer()"></mat-slider></td>
    <td *ngIf="currQChoices != undefined">{{currQChoices[2].rightTitle}}</td>
  </tr>
  <tr>
    <td class="align" *ngIf="currQChoices != undefined">{{currQChoices[3].leftTitle}}</td>
    <td><mat-slider [(ngModel)]="this.newSummary[3].LeftValue" invert thumbLabel min="0" max="10" step="1" value="0" (valueChange)="saveAnswer()"></mat-slider></td>
    <td><mat-slider [(ngModel)]="this.newSummary[3].RightValue" thumbLabel min="0" max="10" step="1" value="0" (valueChange)="saveAnswer()"></mat-slider></td>
    <td *ngIf="currQChoices != undefined">{{currQChoices[3].rightTitle}}</td>
  </tr>
  <nav align="center">
    <button mat-raised-button (click)="prevQuestions()">Edellinen</button>
    <button mat-raised-button (click)="nextQuestions()">Seuraava</button>
  </nav>
</table>
  <mat-progress-bar mode="determinate" value="14"></mat-progress-bar>
</div>


