<header></header>

<div fxLayoutAlign="center center">
  <p>Kuluttamisen tapa: Tarkkana vai tuhlaillen?</p>
</div>

<table fxLayoutAlign="center center">
  <tr>
    <td>Pitkä oleskelu</td>
    <td><mat-slider invert thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td> <mat-slider thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td>Pikavisiitti</td>
  </tr>
  <tr>
    <td>Runsaasti eri kohteita</td>
    <td><mat-slider invert thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td> <mat-slider thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td>Harvat kohteet</td>
  </tr>
  <tr>
    <td>Luksus</td>
    <td><mat-slider invert thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td> <mat-slider thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td>Peruslaatu</td>
  </tr>
  <tr>
    <td>Säästäväisyys</td>
    <td><mat-slider invert thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td> <mat-slider thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td>Avokätisyys</td>
  </tr>
</table>

<div>
  <nav align="center">
    <button mat-raised-button routerLink="/page3">Edellinen</button>
    <button mat-raised-button routerLink="/page5">Seuraava</button>
  </nav>
</div>

<div>
  <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
</div>

<footer fxLayoutAlign="center center">
</footer>
