<header></header>

<div fxLayoutAlign="center center">
  <p>Odotukset: Varmuutta vai yllätyksiä?</p>
</div>

<table fxLayoutAlign="center center">
  <tr>
    <td>Ennakoitavuus</td>
    <td><mat-slider invert thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td> <mat-slider thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td>Yllätyksellisyys</td>
  </tr>
  <tr>
    <td>Järjestys</td>
    <td><mat-slider invert thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td> <mat-slider thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td>Epäjärjestys</td>
  </tr>
  <tr>
    <td>Helppous</td>
    <td><mat-slider invert thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td> <mat-slider thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td>Haastavuus</td>
  </tr>
  <tr>
    <td>Vastuu itsellä</td>
    <td><mat-slider invert thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td> <mat-slider thumbLabel min="0" max="10" step="1" value="1"></mat-slider></td>
    <td>Vastuu järjestäjällä</td>
  </tr>
</table>

<div>
  <nav align="center">
    <button mat-raised-button routerLink="/page2">Edellinen</button>
    <button mat-raised-button routerLink="/page4">Seuraava</button>
  </nav>
</div>

<div>
  <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
</div>

<footer fxLayoutAlign="center center">
</footer>
