<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162432480-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-162432480-1');
  </script>
</head>
<div align="center" fxLayout="column">
  <h2>MATKAILUKYSELY</h2>
  <nav fxLayoutAlign="center center" fxLayout="row">
  <button mat-fab routerLink="/page" (click)="langFI()">Aloita</button>
  <button mat-fab routerLink="/page" (click)="langEN()">Start</button>
  </nav>
  <img src="../../../assets/photos/HumakLogo.png" width="283" height="100">
</div>

