<header></header>
<div align="center">
  <mat-card class="card">
  <mat-card-header>
    <mat-card-title>Haluatko tallentaa?</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Sinua ei voida tunnistaa antamiesi tietojen perusteella. <br> Olet tallentamassa vastauksiasi, painamalla OK lopetat kyselyn ja hyväksyt vastausten tallentamisen.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button routerLink="/final">OK</button>
    <button mat-raised-button routerLink="/page8">En ole valmis</button>
  </mat-card-actions>
</mat-card>
</div>
